# Node.js dependencies
front/node_modules/
front/package-lock.json
# Build artifacts
front/build/
front/dist/


# Python virtual environment
back/myenv/
back/__pycache__/
back/.env

# Environment variables
.env

# Logs
*.log

# System files
.DS_Store

.vscode